@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');


/* ----------------------------------- Colours */

.btn-blue {
    background-color: #286994;
    color: #fff;
}

.btn-blue:hover {
    background-color: #91D3FF;
}

.inline-block {
    display: inline-block;
}

a {
    color:#00254D;
}

/* ----------------------------------- Special paddings/margins/text */

body {
    font-family: 'Montserrat', cursive;
}

*{
    margin:0;
    padding:0;
}

h1, 
h2, 
h3, 
h4 {
    margin: 0;
}

.page-heading {
    color:#5E4016;
    text-align: center;
    font-family: 'Montserrat', cursive;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.active {
    font-weight: 800;
}

.center {
    text-align: center;
}

/* ---------------------------------- Header */

header {
    margin: 0;
}

.logo {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 15px;
    color: #286994;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: #286994;
}

.logo a:hover {
    color:#00254D;
}

.menucontainer {
    font-size: 0;
    padding-top: 25px;
    text-align: center;
}

.menuitem {
    padding: 0;
    text-align: center;
    height: 50px;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 20px;
    padding: 0;
    text-align: center;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

.menuitem a {
    text-decoration: none;
    color: #286994;
}

.menuitem a:hover {
    color: #00254D;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center; 
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Montserrat', cursive;
    font-weight: 500;
}

/* ----------------------------------- Hero Image */

#hero-image {
    background: url("../images/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


#hero-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.1)
    }
}

#hero-text {
    font-family: 'Montserrat', cursive;
    font-weight: 400;
}

#hero-text h2 {
    font-size: 2em;
}

.btn-gallery {
    margin-top: 10px;
}

.btn-gallery:hover {
    background-color: #91D3FF;
}

.freepik {
    text-align: right;
    font-family: 'Montserrat', cursive;
    color: #5E4016;
    font-size: 0.7em;  
}

/* ----------------------------------- Front Page */

.about-snippet {
    font-family: 'Montserrat', cursive;
    display: block;
    text-align: center;
    padding: 20px 10px;
}

.frontpage-artwork {
    height: 250px;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.paintbrush {
    text-align: center;
    border: #286994;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding-top: 0.5em;
    padding-left: 0.8em;
    width: 80%;
    margin-bottom: 1em;
}

.paintbrush-icon {
    color:#286994;
    display: inline-block;
}

.fa-rotate-by {
    transform: rotate(225deg);
}

.paintbrush-text {
    color: #286994;
    font-size: 1em;
    font-weight: 600;
    position: relative;
    bottom: 15px;
    right: 10px;
    display: inline-block;
}

.paintbrush a {
    text-decoration: none;
}

/* ----------------------------------- Gallery */

#slideshow-section {
    min-height: 33vh;
    width: 100vw;
}

#slideshow {
    position: relative;
}

.slideshow-image {
    height: 33vh;
    width: 100vw; 
    object-fit: cover;
}

#slideshow > * {
    visibility: hidden; 
    position: absolute;
    top: 0; 
    left: 0; 
    animation: 16s autoplay1 infinite;
}

@keyframes autoplay1 {
    0% {visibility: visible}
    25% {visibility: hidden}
}

#slideshow > *:nth-child(1) {
    animation-delay: 0s
}

#slideshow > *:nth-child(2) {
    animation-delay: 4s
}

#slideshow > *:nth-child(3) {
    animation-delay: 8s
}

#slideshow > *:nth-child(4) {
    animation-delay: 12s
}

.freepik-gallery {
    margin-top: 6em;
}

.freepik a {
    color: #286994;
}

.gallery-intro {
    margin: 3rem;
}

#gallery-section {
    margin: 5%;
    min-height: 300px;
}

.painting-orientation-heading {
    text-align: center;
    font-family: 'Montserrat', cursive;
    font-weight: 500;
    color: #5E4016;
    padding-top: 10px;
}

.painting-wrapper {
    height: 300px;
    width: 300px;
    display: inline-block;
    position: relative;
    margin: 5%;
}

.painting-frame-landscape {
    height: 242px;
    width: 270px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -165px 0 0 -135px;
}

.painting-frame-square {
    height: 270px;
    width: 270px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -135px;
}

.painting-frame-panoramic {
    height: 270px;
    width: 270px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -135px 0 0 -135px;
    display: flex;
    justify-content: center;
}

.painting-frame-panoramic img {
    height: 135px;
    width: auto;
}

.painting-frame-vertical {
    height: 270px;
    width: 270px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -135px;
}

.title {
    font-family: 'Montserrat', cursive;
    font-size: 1.2em;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    left: 20%;
    right: 20%;
    text-align: center;
}


/* ----------------------------------- About */

#about-the-artist-section {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;  
}

.about-photo-frame {
    height: 80%;
    overflow: hidden;
}

#portrait-photo {
    display: block;
    width: 350px;
    margin-bottom: 20px;
}

.about-text p {
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Montserrat', cursive;
    display: inline-block;
}

#venues-section {
    background-image: url("/assets/images/pexels-markus-spiske-2559741.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    text-align: center;
    clear: both;
    margin-top: 20px;
}

.venues {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 20px;
    height: 100%;
    width: 90vw;
    display: inline-block;
}

.venues h2 {
    text-align: center;
    font-family: 'Montserrat', cursive;
    font-weight: 500;
    color: #5E4016;
    padding-top: 10px;
}

.gallery-wrapper {
    text-align: center;
    height: 350px;
    width: 300px;
    display: inline-block;
    margin-top: 20px;
}

.art-gallery-frame {
    height: 200px;
    width: 200px;
    border-style: double;
    border-width: 5px;
    border-radius: 100px;
    border-color: #E0AF69;
    margin: 20px 50px;
    overflow: hidden;
}

.gallery-wrapper p {
    font-family: 'Montserrat', cursive;
    font-size: 1.2em;
    font-weight: 500;
}

#markets-section {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;   
}

#markets-section h2 {
    text-align: center;
    font-family: 'Montserrat', cursive;
    font-weight: 500;
    color: #5E4016;
    padding-top: 10px;
}

.table {
    font-size: 14px;
    margin: 1rem;
    width: 95%;
}

.markets-photo-frame {
    margin-top: 20px;
    height: 80%;
    overflow: hidden;
}

#markets-photo {
    display: block;
    width: 350px;
}
/* ----------------------------------- Contact */

#contact-me-intro {
    font-family: 'Montserrat', cursive;
    text-align: center;
}

#contact-form-section {
    background-image: url("/assets/images/contact-background.jpg");
    background-size: cover;
    background-position: top 100px;
    background-attachment: fixed;
}


#contact-me-intro p {
    text-align: center;
    margin: 20px;   
}

.contact-form {
    background-color:rgba( 105, 177, 224, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

input, label {
    margin: .4rem 0;
}

input, textarea {
    border-width: 1px;
    border-radius: 5px;
    border-color: #fff;
}

input:hover, textarea:hover {
    border-color: #E0AF69;
}

.btn-form:hover {
    border-color: #91D3FF;
}

label {
    text-align: left;
}

/* ----------------------------------- Shipping Info */

#shipping-info-section {
    background-image: url("/assets/images/contact-background.jpg");
    background-size: cover;
    background-position: top 100px;
    background-attachment: fixed;
    text-align: center;
}

.shipping-info {
    font-family: 'Montserrat', cursive;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background-color:rgba( 105, 177, 224, 0.5);
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.signup-arrows {
    margin-top: 3rem;
    margin-bottom: 0;
    color:#E0AF69;
    text-align: center;
}
/* ----------------------------------- Footer */

footer {
    padding-top: 0;
    background-color: #E0AF69;
    font-family: 'Montserrat', cursive;
    text-align: center;
}

footer .commissions,
footer .signup-form,
footer .social {
    margin-top: 20px;
    margin-bottom: 10px;
}

footer h3 {
    padding-bottom: 10px;
}

.footer-info {
    list-style-type: none;
    padding: 0;
}

.footer-info a {
    text-decoration: none;
    color: black;
}


.footer-info a:hover {
    color: #286994;
}

.email-input {
    height: 31px;
}

.btn-newsletter:hover {
    background-color: #91D3FF;
}

.social-links li {
    margin: 0;
}

.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 16px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #286994;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out; 
}

.social-links li a i:hover {
    background-color: #91D3FF;
    color: black;

}

/* ----------------------------------- Media Queries */

@media (min-width: 576px) {
    /* Frontpage */

    .paintbrush {
        width: 60%;
    }

}

@media (max-width: 768px) {

    /* Gallery */

    .painting-frame-landscape {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -155px 0 0 -135px;
    }

    .painting-frame-panoramic {
        overflow: hidden;
    }

    .square-title {
        position: absolute;
        bottom: -10px;
        left: 20%;
        right: 20%;
    }

    .landscape-title {
        position: absolute;
        bottom: 30px;
        left: 20%;
        right: 20%;
    }
    
    .panoramic-title {
        position: absolute;
        bottom: 50px;
        left: 20%;
        right: 20%;
    }

    .vertical-title {
        position: absolute;
        bottom: -10px;
        left: 20%;
        right: 20%;
    }

}

@media (min-width: 768px) { 

    /* Frontpage */

    .logo {
        padding-top: 20px;
        padding-left: 10px;
        font-size: 25px;
    }

    .menucontainer {
        font-size: 0;
        padding-top: 16px;
    }

    #hero-text {
        width: 300px;
        height: 300px;
        padding-top: 30px;
        padding-left: 20px;
        bottom: 50px;
        right: 5%;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        text-align: right;
    }

    .paintbrush {
        width: 35%;
    }


    /* Footer */

    footer h3 {
        font-size: 1.3em;
    }
    
}

@media(min-width: 992px) {

    /* Frontpage*/

    .logo {
        padding-left: 20px;
        padding-top: 20px;
        font-size: 30px;
    }

    .menucontainer {
        font-size: 0;
        padding-top: 25px;
    }

    .paintbrush {
        width: 28%;
    }

    /* Gallery */

    #slideshow img{
       padding: 0 10% 0 10%;
    }

    .freepik {
        padding-right: 10%;
    }

    /* Footer */

    footer h3 {
        font-size: 1.6em;
    }
}

@media(min-width: 1200px) {
    
    /* Frontpage*/

    .paintbrush {
        padding-top: 0.5em;
        padding-left: 0.8em;
        width: 23%;
        margin-bottom: 1em;
    }
    
    .paintbrush-text {
        font-size: 18px;
        font-weight: 600;
        position: relative;
        bottom: 15px;
        right: 20px;
    }


}

